@import "../../../../styles/_variables";

.NoActivityCard {
	.CtaButton {
		@extend %bold;
		margin-bottom: 10px;
		border: none !important;
		background: #3ed194;

		&:hover {
			background: #32bc83;
		}
	}
}

