@import "../../../../styles/_variables";

@keyframes fadeIn {
    from {
        opacity: 0.6;
    }
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.Task {
    cursor: pointer;

    .fa {
        margin-right: 8px;
        font-size: 0.813rem;
    }

    .done {
        background-color: #2ecc71;
    }

    &.remaining {
        opacity: 0.8;
    }

    &.in-progress .task-content {
        animation: fadeIn 1s infinite alternate;
    }

    &.in-progress > svg {
        @extend %round;
        animation: pulse 2s infinite;
        box-shadow: 0 0 5px #f4a324;
    }

    .emoji {
        margin-right: 6px;
        font-size: 0.813rem;
    }

    .attachments-container {
        .image-preview {
            margin-left: 8px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 50%;
            padding-top: 10%;
            padding-bottom: 10%;
            box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            background-color: var(--c-bg-light);
            position: relative;

            & .attachment-overlay {
                position: absolute;
                top: 0;
                left: 0;
                background-color: transparent;
                color: transparent;
                transition: color 0.3s ease;
                transition: background-color 0.3s ease;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;

                &:hover {
                    color: var(--c-lightest);
                    background-color: $c-bg-overlay;
                }
            }
        }
    }

    .task-details {
        //margin-left: 8px;
        //border-left: 1px solid var(--c-border);

        margin-left: 7px;
        border-left: 2px solid $c-secondary;
        //padding: 5px;
        //background-color: var(--c-bg);

        .comments-box {
            border-left: none;
        }
    }

    .action-bar {
        //border-top: 1px solid var(--c-border-lightest);
        padding: 0.5rem;
        margin-top: 0.5rem;
        //border-right: 1px solid var(--c-border-lightest);
        //border-left: 1px solid var(--c-border-lightest);
        margin-bottom: -0.5rem; //compensate for commentsbar margin

        /*.action-bar-with-taskcontrols {
            .ShareBar {
                border-top: 1px solid var(--c-border-lightest);
                padding-top: 0.5rem;
            }

            > div:first-of-type {
                padding-bottom: 0.5rem; //compensate for commentsbar margin
            }
        }*/
    }

    .attachment {
        @extend %corners;
        margin-top: 0 !important;
        max-width: 400px;

        > img {
            @extend %corners;
            border: 1px solid transparent;
            cursor: pointer;
            max-height: 300px;
            width: auto;
            object-fit: contain;
        }
    }

    &.launch {
        font-weight: bold;
        color: #3e8d5b;

        > .emoji {
            font-size: 18px;
            margin-right: 0;
        }
    }

    .editing {
        @extend %corners;
        background: transparent;
        font-size: 1.125rem;
        padding: 3px;
    }

    input.editing {
        width: 90%;
        outline: none;
        border: 1px solid var(--c-border);
        box-shadow: none;
    }
}

.Praisable {
    user-select: none;
    display: inline;
}

.hidden {
    display: none !important;
}
