.DayProgressBar {
    position: absolute;
    transition: width 1s ease-in-out;
    height: 5px;
    bottom: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
    transform: translateZ(0);
    will-change: transform;
}
