@import "../../../../../../styles/_variables";

.ProductMedia {
    border-radius: 5px;
    box-shadow: none;
    border-top: none !important;
    padding-top: 0 !important;
    margin-top: 10px;
    cursor: pointer;

    &.lazy {
        opacity: 0.6;
    }

    figure {
        margin: 0 1rem 0 0;
        padding: 0;
    }

    .tag {
        @extend %rounded;
        display: inline-flex;
    }
}
