@import "../../styles/_variables";

.UserPage,
.ProductPage {
    --back-cover-color: #{$c-bg-darkest};

    .header-section {
        height: 30vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-main;
        position: relative;
        margin-bottom: $gap; // calc(#{$gap} / 2);

        &::before {
            -webkit-backdrop-filter: brightness(40%) blur(25px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
            backdrop-filter: brightness(40%) blur(25px); /* Supported in Chrome 76 */

            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .navbar-secondary {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            .navbar-menu {
                position: relative;
            }

            h2 {
                font-size: 1.5em;
                position: absolute;
                left: 0px;
                color: white;
                bottom: calc(#{$navbar-height} + 15px);
                mix-blend-mode: normal;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        .container {
            display: block;
            height: 30vh;
            width: 100%;
            padding-bottom: 56.25%;
        }

        .profile-picture {
            width: 128px;

            h2 {
                position: absolute;
                bottom: 0;
                z-index: 2;
                left: 128px;
            }

            span {
                border: 4px solid white;
            }
        }

        .img-avatar,
        .ProductIcon {
            position: absolute;
            top: -64px;
        }

        .ProductIcon {
            top: -60px;
        }

        .full-name-container {
        }
    }

    .hero-media {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .links-flex {
        font-size: 0.7rem;
        a {
            color: inherit;
        }
    }
}

.ProductPage {
    --back-cover-color: #{$c-bg-darkest};

    .header-section {
        &::before {
            -webkit-backdrop-filter: none; /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
            backdrop-filter: none; /* Supported in Chrome 76 */

            content: "";
            display: none;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .UserPage .header-section .container,
    .ProductPage .header-section .container {
        width: 100% !important;
    }
}
