@import "../../styles/variables";
$min-modal-height: $navbar-height;
$modal-padding: 1rem;

.Modal {
    @extend %corners;
    border: 1px solid var(--c-border);

    position: absolute;
    min-width: 50%;
    top: 0;
    left: 0;
    width: 50vw;
    position: fixed; /*or absolute*/
    margin: 25vh 25vw;
    outline: none;
    animation: fadein 0.5s;
    background-color: var(--c-lightest);
    max-height: 100%;
    overflow-y: auto;
    display: block;
    overflow: auto;
    width: 50%;
    max-height: 100vh;

    &.panel {
        //top: 0px;
    }
}

.Modal-Container {
    display: flex;
    flex-direction: column;
}

.Modal-Column {
    flex: 1;
}

.Modal > .columns {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

.Modal > .columns > .column.Modal-Header {
    padding: 0px;
}

.Modal-Header {
    min-height: $navbar-height;
    padding: $modal-padding;
    padding-top: $modal-padding / 2;
    padding-bottom: $modal-padding / 2;
    background: var(--c-bg);
    border-bottom: 1px solid var(--c-border);
    display: flex;

    > div.flex {
        width: 100%;
    }
}

.Modal-Footer {
    min-height: $navbar-height;
    padding: $modal-padding;
    padding-top: $modal-padding / 2;
    padding-bottom: $modal-padding / 2;
    background: var(--c-bg);
    border-top: 1px solid var(--c-border);
    display: flex;

    > div.flex {
        width: 100%;
    }
}

.Modal-Header > div > div > .tag {
    font-size: 15px;
}

.Modal-Header > div > h1 {
    text-align: center;
}

.Modal-Header > div > .upload-button {
    margin-top: 20px;
}

.Modal-Header > div > .subtitle {
}

strong {
    color: inherit !important;
}

.Modal-Header > div > p > strong {
}

.Modal-Header > div > p {
    width: 90%;
    margin: 0 auto;
}

.Modal-Header > div > h5 {
}

.Modal-Content {
    min-height: $navbar-height;
    padding: $modal-padding;
    flex: 1;
    overflow-y: auto;

    align-items: center;
    display: flex;

    > div {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .Modal {
        left: 0;
        width: 100% !important;
    }

    .Modal-Container {
        //flex-direction: row;
    }

    .Modal-Content {
        border-radius: 0px !important;
    }
}

@media only screen and (max-width: 500px) {
    .Modal {
        left: 0;
        width: 100% !important;
        margin-left: 0px;
        margin-right: 0px;
    }

    .Modal-Container {
        flex-direction: column;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ReactModal__Body--open #__next {
    /* Performance broski */
    //filter: blur(1.5px);
}

.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}
