@import "../../styles/_variables";

/*

    .ThumbnailCover {
        display: flex;
        position: absolute;
        right: 0px;
        width: 100%;
        flex-wrap: wrap;
        top: 0px;
        overflow: hidden;
        height: 100%;
        z-index: 6;
        background-color: rgba(83, 175, 135, 0.9);
    }

    .ThumbnailGrid {
        display: flex;
        position: absolute;
        right: 0px;
        width: 100%;
        flex-wrap: wrap;
        top: 0px;
        height: 100%;
        z-index: 4;
        background-image: url(https://i.imgur.com/llKaQpR.jpg);
        background-position: center;
        overflow: hidden;

        .image {
            flex: 1;
            min-height: 40px;
            min-width: 40px;
            max-height: 40px;
            max-width: 40px;
            height: auto;
            overflow: hidden;
        }
        .image > img {
            min-height: 40px;
            min-width: 40px;
            height: auto;
        }
    }*/
