@import "variables";

:root {
    // Colors -- texts
    --c-title: #{$c-title};
    --c-text: #{$c-text};
    --c-lightest: #{$c-lightest};

    // Colors -- backgrounds
    --c-main: #{$c-main};
    --c-bg: #{$c-bg};
    --c-bg-dark: #{$c-bg-dark};
    --c-bg-darkest: #{$c-bg-darkest};
    --c-bg-light: #{$c-bg-light};
    --c-secondary-navbar: #{$c-secondary-navbar};

    // Forms
    --c-border: #{$c-border};
    --c-border-light: #{$c-border-light};
    --c-border-lightest: #{$c-border-lightest};
    --c-bg-input: #{$c-bg-input};

    // Heatmap
    --c-heatmap-0: #{$c-heatmap-0};
    --c-heatmap-1: #{$c-heatmap-1};
    --c-heatmap-2: #{$c-heatmap-2};
    --c-heatmap-3: #{$c-heatmap-3};
    --c-heatmap-4: #{$c-heatmap-4};
}

[data-theme="dark"] {
    background: var(--c-bg);
    color: var(--c-text);

    // Colors -- texts
    --c-title: hsl(0, 0%, 82%);
    --c-text: hsl(0, 0%, 47%);
    --c-lightest: hsl(0, 0%, 9%);

    // Colors -- backgrounds
    --c-bg: hsl(0, 0%, 7%);
    --c-bg-dark: hsl(0, 0%, 10%);
    --c-bg-darkest: hsl(0, 0%, 12%);
    --c-bg-light: hsl(0, 0%, 14%);
    --c-secondary-navbar: hsl(0, 0%, 13%);

    // Forms
    --c-border: hsla(0, 0%, 82%, 0.1);
    --c-border-light: hsla(0, 0%, 82%, 0.2);
    --c-border-lightest: hsla(0, 0%, 82%, 0.3);
    --c-bg-input: hsl(0, 0%, 7%);

    // Heatmap
    --c-heatmap-0: #142e25;
    --c-heatmap-1: #143a2d;
    --c-heatmap-2: #114130;
    --c-heatmap-3: #0f513a;
    --c-heatmap-4: #0d5f42;

    .has-text-grey-light {
        color: hsla(0, 0%, 100%, 0.3) !important;
    }

    .has-text-grey {
        color: hsla(0, 0%, 100%, 0.2) !important;
    }

    .sidebar-item .has-text-grey {
        color: hsl(0, 0%, 47%) !important;
    }

    .markdown-body {
        color: var(--c-text);
    }

    #main-navbar {
        border-bottom: 0.2px solid var(--c-bg-light);
    }

    .notifications-header .delete::after,
    .notifications-header .delete::before {
        background: var(--c-text);
    }

    .notifications-header .delete {
        background: var(--c-bg);
        border: 1px solid var(--c-border-light);
    }
}

html {
    font-size: $font-size;
    font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @extend %transition-bg;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--c-text);
    background: var(--c-bg);
    margin: 0;

    overscroll-behavior-y: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

pre {
    white-space: pre-wrap;
}

code {
    background-color: var(--c-bg-light);
    color: #ff3860;
    font-size: 0.875em;
    padding: 0.25em 0.5em;
}

iframe,
img,
audio,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    min-height: 200px;
}

input,
textarea {
    font-family: $font;
}

// make it compatible with whatever you want to make it work with
.is-loading::after {
    @keyframes spinAround {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    // spinny thing stuff
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    position: relative;
    width: 1em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
textarea {
    //@extend %corners;
    //@extend %shadow-inset;
    border: none;
    border-bottom: 1px solid var(--c-border);
    max-width: 100%;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background: var(--c-bg-input);
    color: var(--c-text);

    &:hover {
        border-color: var(--c-border-light);
    }

    &:focus {
        border-color: $c-main;
        box-shadow: $input-drop-shadow;
    }

    &::placeholder {
        color: var(--c-border-light);
    }
}

input[type="search"] {
    -webkit-appearance: none;
    margin-bottom: 0;
}

.label {
    color: var(--c-text);
    display: block;
    font-size: 1rem;
    font-weight: 700;

    &:not(:last-child) {
        margin-bottom: 0.5em;
    }
}

.file {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    position: relative;

    .file-cta,
    .file-name {
        -moz-appearance: none;
        -webkit-appearance: none;
        align-items: center;
        box-shadow: none;
        display: inline-flex;
        font-size: 1rem;
        height: 2.25em;
        justify-content: flex-start;
        line-height: 1.5;
        position: relative;
        vertical-align: top;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        padding: calc(0.375em - 1px) 1em;
        white-space: nowrap;
    }

    .file-cta {
        background-color: #f5f5f5;
        color: #4a4a4a;
    }

    .file-label {
        align-items: stretch;
        display: flex;
        cursor: pointer;
        justify-content: flex-start;
        overflow: hidden;
        position: relative;
    }

    &.is-boxed {
        .file-label {
            flex-direction: column;
            display: flex;
            align-items: center;
        }

        .file-cta {
            flex-direction: column;
            height: auto;
            padding: 1em 3em;
        }

        .file-label {
            flex-direction: column;
        }
    }

    &.has-name {
        .file-cta {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .file-input {
        height: 0.01em;
        left: 0;
        outline: 0;
        position: absolute;
        top: 0;
        width: 0.01em;
    }

    &.is-boxed.has-name .file-cta {
        border-radius: 3px 3px 0 0;
    }
}

button:not(.unstyled-btn):not(.edit-button):not(.delete-button):not(.gray-link-with-icon):not(.react-datepicker__navigation),
div[class^="btn"],
a[class^="btn"] {
    @extend %rounded;
    -webkit-appearance: none;
    border: 0;
    padding: 0 1em;
    background: $c-main;
    text-decoration: none;
    color: var(--c-lightest);
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.4;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    white-space: nowrap;
    min-height: 2.25em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    transition: transform 0.1s ease;
    &.btn-light {
        background: var(--c-lightest);
        color: $c-text !important;
        border: 1px solid var(--c-border);
        // margin-top: 1rem; why?

        &.transparent {
            background: transparent;
            color: var(--c-lightest) !important;
        }
    }

    &.btn-primary,
    &.is-primary {
        background: $c-main;
        color: var(--c-lightest) !important;
    }

    &.btn-secondary,
    &.is-secondary {
        background: $c-secondary;
        color: $c-text !important;

        &.is-loading::after {
            border-color: var(--c-text);
            border-right-color: transparent;
            border-top-color: transparent;
        }
    }

    &:not([disabled]):active {
        //transform: scale(0.95);
    }

    svg {
        margin-right: 0.5em;
    }

    &[disabled],
    &.is-disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.btn-big {
        font-weight: bold;
        padding: 0.5rem 1.3rem !important;
        margin: 0;
    }

    &.btn-xl {
        font-weight: bold;
        padding: 0.8rem 1.6rem !important;
        margin: 0;
    }

    &.btn-block {
        width: 100%;
    }

    &.btn-small {
        font-size: 0.75rem;
    }

    &.btn-twitter {
        background: #1b95e0 !important;
        color: var(--c-lightest);
        height: 2.25em;
        border: 0;
    }

    &.btn-delete {
        background: var(--c-lightest);
        color: $c-danger;
        border: 1px solid $c-danger;
    }

    &.btn-danger {
        background: $c-danger;
        border-color: transparent;
        color: var(--c-lightest);
    }

    &.btn-link {
        background: transparent;
        color: $c-main;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &.btn-gray {
        background: transparent;
        border: 1px solid $c-gray;
        color: var(--c-text);
    }

    &.btn-praise {
        background: transparent !important;
        border: 1px solid var(--c-border-lightest);
        color: var(--c-text);
        font-size: 0.75rem;

        &:hover {
            border-color: var(--c-border-light);
        }

        &.praising {
            font-weight: bold;
            background-color: #ffd157 !important;
            border-color: #de900e !important;
            transform: scale(0.95);
            color: white !important;
        }
    }

    &.btn-hero {
        @extend %transition;
        font-size: 1.2rem;
        font-weight: bold;
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;

        &:hover {
            transform: scale(1.07);
        }
    }

    &.is-loading {
        content: "";
        color: transparent !important;
    }

    &.is-loading::after {
        // button specific things
        position: absolute;
        left: calc(50% - (1em / 2));
        top: calc(50% - (1em / 2));
        position: absolute !important;
    }
}

hr {
    background: var(--c-border);
    border: 0;
    display: block;
    height: 1px;
    margin: $gap-card 0;
}

a:not(.btn),
a:not(.btn):active,
a:not(.btn):visited,
a:not(.btn):hover {
    @extend %transition;
    color: $c-link;
    text-decoration: none;
}

.gray-link-with-icon {
    @extend %rounded;
    font-size: 0.75rem;
    color: $c-text !important;
    //text-decoration: underline;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    background: var(--c-lightest);
    border: 0;
    padding: 4px 1em;
    height: 2.25em;

    &:hover {
        background: var(--c-bg-light);
        text-decoration: underline;
    }

    svg {
        margin-right: 3px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %title;
    font-family: $font-title;
}

h1.page-title,
.page-title {
    color: var(--c-text);
    font-size: 1.5rem;
    margin: 0;
}

h2 {
    font-size: 1.3rem;
}

.card h2.topic-title,
.topic-title {
    font-family: $font;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2;
}

.page-title {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.mtGap {
    margin-top: $gap;
}

.mbGap {
    margin-bottom: $gap;
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.spinner {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;

    div {
        @extend %round;
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateZ(2deg);
        transform: rotateZ(2deg);
        border: 1.5px solid $c-brand;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $c-brand transparent transparent transparent;
        margin: 7px;
    }

    div:nth-child(1) {
        animation-delay: -0.45s;
    }

    div:nth-child(2) {
        animation-delay: -0.3s;
    }

    div:nth-child(3) {
        animation-delay: -0.15s;
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

#page-content {
    flex-grow: 1;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table {
    th,
    td {
        padding: 5px;
    }
}

table.is-full {
    width: 100%;
}

.table-bordered {
    border: 1px solid var(--c-border);
    border-collapse: collapse;

    th,
    td {
        border: 1px solid var(--c-border);
    }
}

.main-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    background: var(--c-bg-dark);
}

#page {
    display: flex;
    min-height: 100vh;
    flex-flow: column nowrap;

    section.container,
    > .container {
        flex: 1 1;
        margin-top: $gap;
    }

    footer#footer {
        justify-self: flex-end;
    }
}

#page.is-loading {
    position: relative;
}

.container {
    width: calc(100vw - 2rem) !important;
    max-width: 1340px;
    margin: 0 auto;
    position: relative;

    &.narrow {
        max-width: 700px;
    }
}

.flex {
    display: flex;

    &.flex-column {
        flex-direction: column;
    }

    &.col-right {
        width: 100%;

        > div:not(:last-child) {
            flex-grow: 1;
        }
    }

    &.stretch {
        align-items: stretch;
    }

    &.end {
        justify-content: flex-end;
    }

    &.v-center {
        align-items: center;
    }

    &.center {
        justify-content: center;
    }

    &.columns {
        flex-flow: column nowrap;
    }
    &.flex-v-gap-half {
        > div:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &.flex-v-gap {
        > div:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &.flex-gap {
        > div:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &.flex-gap-big {
        > div:not(:last-child) {
            margin-right: 2rem;
        }
    }

    div.flex-grow {
        flex-grow: 1;
    }
}

.grid {
    display: grid;
    grid-gap: 1rem;
}

.grid-modal {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 3fr;
}

.grid-2c {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-gap {
    grid-column-gap: $gap;
}

.grid-c-s,
.grid-s-c {
    display: grid;
    grid-gap: $gap;
}

.grid-c-s {
    grid-template-columns: calc(100% - 408px) 376px;
}

.grid-s-c {
    grid-template-columns: 312px calc(100% - 344px);
}

.grid-thumbnails {
    display: grid;
    grid-template-columns: repeat(5, 48px);
    grid-gap: 0.4rem;

    &.auto {
        grid-template-columns: repeat(auto-fill, 48px);
    }
}

.grid-c-s {
    .grid-thumbnails {
        grid-template-columns: repeat(5, 60px);
        grid-gap: 0.5rem;
        margin: 1rem 0 2rem;

        > div {
            position: relative;
            padding-right: 1rem;
        }
    }
}

.streak {
    @extend %rounded;
    background: var(--c-lightest);
    color: var(--c-text);
    padding: 0.2rem 0.4rem;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -1px;
    height: 2em;
    display: inline-flex;
    position: absolute;
    top: -0.5rem;
    right: -0.3rem;
}

.hero {
    position: relative;
    padding: 3rem $gap;
    background: $c-secondary;
    z-index: 3;
    font-weight: 600;

    * {
        color: var(--c-lightest);
    }

    .container {
        display: grid;
        grid-template-columns: auto 360px;
        align-items: center;
    }

    h2 {
        @extend %bold;
        font-size: 1.2rem;
        margin: 0 0 0.75rem;
    }

    .trend {
        z-index: -1;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 50%;
    }

    .HeaderTrend {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        height: 100%;

        .bar {
            margin-right: 2px;
            flex-grow: 1;
            max-height: 90%;
            align-self: flex-end;
        }
    }

    .TrendCover {
        z-index: 2;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    &.UserHero {
        //min-height: 480px;
        padding: 0;
    }

    &.dark {
        color: #f5f5f5;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .heading {
        color: var(--c-lightest);
    }
}

.hero-item {
    color: var(--c-lightest);
    font-size: 1.5rem;
    text-align: center;
    padding: 0 0 0 1.5rem;

    p {
        @extend %uppercase;
        font-size: 0.688rem;
        font-weight: normal;
        margin: 0;

        svg {
            margin-right: 0.1rem;
        }
    }

    div {
        @extend %bold;
        line-height: 1;
        margin-top: 5px;
    }
}

.card {
    @extend %corners;
    margin-bottom: 2rem;
    box-shadow: none;
    background: var(--c-lightest) !important;

    > .flex {
        width: 100%;
    }

    header {
        //background: hsla(192, 15%, 64%, 0.1);
        background: $c-card-header;
        padding: $gap-card;
        @extend %corners;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    footer {
        padding: 0 $gap-card $gap-card;
        @extend %corners;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .card-content {
        padding: $gap-card;
    }

    &.CardApp .grid {
        grid-template-columns: calc(100% - 90px) 70px;
        justify-content: space-between;

        .note {
            margin-top: 1rem;
        }
    }

    &.shadow {
        @extend %shadow;
    }

    &.PageCard {
        background: $gradient-card;

        h1,
        h2,
        h3 {
            @extend %bold;
            margin: 0;
        }

        * {
            color: var(--c-lightest);
        }
    }

    &.PageCard.yellow {
        background: $gradient-card-yellow;
    }
}

.avatar-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    a {
        margin: 0.5rem 1rem 0.5rem 0;
    }
}

.widget {
    padding: 1.8rem $gap-card 0;

    &:last-of-type {
        padding-bottom: $gap-card;
    }

    .grid {
        grid-template-columns: 60px calc(100% - 60px);
        grid-row-gap: 1.2rem;

        hr {
            grid-column: 1 / span 2;
        }
    }
}

.heading {
    font-family: $font !important;
    @extend %uppercase;
    margin: 0 0 5px;
    padding: 0;
    font-size: 0.688rem;
    font-weight: normal !important;
    color: var(--c-title);

    .emoji {
        margin: 0;
    }
}

.Broadcast {
    h2 {
        @extend %bold;
        font-size: 1rem !important;
        margin: 0;
    }

    p {
        margin: 0 0 20px;
        font-size: 0.925rem;
    }

    img {
        @extend %corners;
    }
}

.sidebar {
    .widget {
        .grid {
            max-width: 370px;
        }
    }

    .card {
        .heading {
            font-size: 0.688rem;
            margin: 1.5rem 0 1rem;
        }

        > .card-content > .heading {
            &:first-of-type {
                margin-top: 0 !important;
            }
        }
    }

    img {
        @extend %corners;
        object-fit: contain;
    }

    .grid-streamcard {
        grid-template-columns: repeat(2, 48px auto);
        grid-row-gap: 0.5rem;
        align-items: start;
        line-height: 1.2;

        &.UserMedia {
            grid-template-columns: repeat(2, 48px calc(100% - 48px));

            h5 {
                @extend %bold;
                font-size: 0.938rem;
                margin: 0;
            }

            .note {
                color: var(--c-text);
                font-size: 0.813rem !important;
                display: block;
            }

            .stats-case {
                font-size: 0.688rem !important;
            }
        }
    }
}

.Task {
    padding: 3px;
    word-wrap: break-word;
    line-height: 1.6;
    font-size: 1.125rem;
}

.form-row {
    margin: 0 0 0.75rem;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    background: var(--c-bg-dark);
}

.panel-message {
    @extend %corners;
    margin: 2rem 0;

    &.danger {
        color: $c-danger;

        .message-body {
            background: #fff5f7;
        }
    }

    &.success {
        color: $c-ok;
    }

    &.info {
        color: $c-info;

        .message-body {
            background: #f6fbfe;
        }
    }

    .message-body {
        border: 1px solid;
        border-radius: 3px;
        padding: 1em 1.25em;
    }

    &.is-medium {
        text-align: left;
        background: #fff;
        padding: 0;
        font-size: 1.25rem;

        .message-header {
            border-radius: 5px 5px 0 0;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 0.5rem 1.7rem;
            background: #16a085;
        }

        .message-body {
            padding: 1.5rem 2rem;

            p {
                margin: 0 0 0.3rem;
            }
        }
    }

    h2 {
        font-size: 1.5rem;
    }
}

.has-addons {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    .control:not(:last-child) {
        margin-right: -1px;
    }

    .control:first-child button,
    .control:first-child .input,
    .control:first-child .select select {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .control:last-child .button,
    .control:last-child .input,
    .control:last-child input[type="text"],
    .control:last-child .select select {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

button[disabled] {
    background: var(--c-lightest);
    border: 1px solid $c-gray;
    opacity: 0.5;
    cursor: not-allowed;
    user-select: none;
}

.has-text-warning {
    color: $c-in-progress;
}

.has-text-white {
    color: #fff;
}

.has-text-grey {
    color: #7a7a7a !important;
}

.has-text-grey-light {
    color: #b5b5b5 !important;
}

.has-text-centered {
    text-align: center;
}

.panel-tooltip {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    text-align: left;
}

.explanation,
.note {
    @extend %note;
}

.announcement {
    @extend %transition;
    color: var(--c-lightest);
    background: linear-gradient(to right, #4ca2cd, #67b26f);
}

.img-avatar,
.img-avatar img {
    @extend %round;
    display: block;
}

.grid-thumbnails img,
.img-thumbnail,
.img-thumbnail img {
    @extend %corners;
    display: block;
}

[class^="img-"] img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.img-24 {
    width: 24px;
    height: 24px;
    min-width: 24px;

    img {
        max-width: 24px;
        max-height: 24px;
    }
}

.img-32 {
    width: 32px;
    height: 32px;
    min-width: 32px;

    img {
        max-width: 32px;
        max-height: 32px;
    }
}

.img-48 {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;

    img {
        max-width: 48px;
        max-height: 48px;
    }
}

.img-64 {
    width: 64px;
    height: 64px;
    min-width: 64px;

    img {
        max-width: 64px;
        max-height: 64px;
    }
}

.img-128 {
    width: 128px;
    height: 128px;
    min-width: 128px;

    img {
        max-width: 128px;
        max-height: 128px;
    }
}

.badges {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.badge {
    @extend %rounded;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 0.75rem;
    height: 2em;
    line-height: 1;
    padding: 0 0.75em;
    margin: 0 2px 0 0;
    color: var(--c-lightest);

    &.gold {
        background: $c-gold;
        font-weight: bold;

        svg {
            margin-right: 3px;
        }
    }

    &.gtd {
        background: $c-gtd;
    }

    &.donor {
        background: $c-donor;
    }

    &.staff {
        background: $c-staff;
    }

    &.awesome {
        background: $c-awesome;
    }

    &.year {
        background: $c-year;

        .emoji {
            font-family: "Apple Color Emoji", "Segoe UI Symbol", sans-serif;
            font-size: 1.1em;
            line-height: 1rem;
            text-shadow: 0 1px 3px hsla(0, 0%, 100%, 0.6);
            display: block;
            margin: 1px 1px 0 0;
        }
    }

    &.hundred {
        background: $c-hundred;

        .emoji {
            text-shadow: 0 0 3px var(--c-lightest);
        }
    }

    &.fifty {
        background: $c-fifty;

        .emoji {
            text-shadow: 0 0 3px var(--c-lightest);
        }
    }

    .emoji {
        margin-right: 2px;
    }
}

.gold-icon {
    color: $c-gold;
}

.tag {
    background: var(--c-bg);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    @extend %rounded;
    display: inline-flex;
}

.feedback-tab {
    @extend %round;
    @extend %transition;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--c-lightest);
    text-align: center;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    font-size: 1.1rem;
    border: 0;
    outline: none;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 106px -26px hsla(0, 0%, 0%, 0.75);

    &:active {
        transform: scale(0.5);
    }
}

.underline {
    display: inline-block;
    margin-right: 3px;
    background: $gradient-underline;
}

.center {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.img-circle {
    @extend %round;
    height: auto;
    width: 100%;
}

figure.img-circle {
    @extend %round;
    position: relative;
    overflow: hidden;
}

.fade-enter {
    opacity: 0.01;

    &.fade-enter-active {
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
}

.fade-leave {
    opacity: 1;

    &.fade-leave-active {
        opacity: 0.01;
        transition: opacity 0.2s ease-in;
    }
}

.has-brand-gradient {
    background: $gradient-brand;
}

.is-brand-green {
    color: $c-brand;
    border-color: $c-brand;
}

.is-blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

#carbonads {
    display: block;
    overflow: hidden;
    margin-bottom: 2rem;
    max-width: var(--width);
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1);
    background-color: white;
    font-size: var(--font-size);
    line-height: 1.5;
    width: 100% !important;

    .carbon-wrap {
        display: flex !important;
        width: 100% !important;
    }

    a {
        color: inherit;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        flex: 50%;

        &:hover {
            color: inherit;
        }
    }

    span {
        position: relative;
        display: block;
        overflow: hidden;
    }

    .carbon-img {
        flex: 25% !important;
        display: block;
        max-width: var(--width);
        line-height: 1;

        img {
            display: block;
            margin: 0 auto;
            max-width: var(--width) !important;
            width: var(--width);
            height: auto;
        }
    }

    .carbon-text {
        display: flex;
        padding: 1em;
    }

    .carbon-poweredby {
        display: block;
        padding: 10px 1rem;
        background: repeating-linear-gradient(
                -45deg,
                transparent,
                transparent 5px,
                hsla(0, 0%, 0%, 0.025) 5px,
                hsla(0, 0%, 0%, 0.025) 10px
            )
            hsla(203, 11%, 95%, 0.4);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 600;
        font-size: 9px;
        line-height: 0;
    }
}

.react-calendar-heatmap {
    .is-today {
        stroke: $c-gray;
    }

    .color-scale-0 {
        fill: var(--c-heatmap-0);
    }

    .color-scale-1 {
        fill: var(--c-heatmap-1);
    }

    .color-scale-2 {
        fill: var(--c-heatmap-2);
    }

    .color-scale-3 {
        fill: var(--c-heatmap-3);
    }

    .color-scale-4 {
        fill: var(--c-heatmap-4);
    }
}

.twitchWrapper {
    position: relative;

    .twitchStream {
        position: relative;
        width: 75%;
    }

    .twitchStream:before {
        content: "";
        display: block;
        padding-top: 56.25%; /* 16:9 */
    }

    .twitchChat {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 25%;
    }

    .twitchStream iframe,
    .twitchChat iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: $breakpoint-wide) {
    body {
        /* these were in bulma, but NOT recommended... */
        /* see https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth */
        text-rendering: optimizelegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@media (min-width: $breakpoint-desktop) {
    .is-hidden-tablet {
        display: none;
    }

    .is-hidden-desktop {
        display: none !important;
    }
}

@media (max-width: $breakpoint-tablet) {
    .is-hidden-touch {
        display: none;
    }

    .twitchStream {
        width: 100%;
    }

    .twitchChat {
        display: none;
    }

    #carbonads {
        float: none;
        margin: 0 auto;
        max-width: 330px;

        span {
            position: relative;
            max-width: none;
        }

        .carbon-img {
            float: left;
            margin: 0;

            img {
                max-width: 130px !important;
            }
        }

        .carbon-text {
            float: left;
            margin-bottom: 0;
            padding: 8px 20px;
            text-align: left;
            max-width: calc(100% - 130px - 3em);
        }

        .carbon-poweredby {
            left: 130px;
            bottom: 0;
            display: block;
            width: 100%;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .is-hidden-mobile {
        display: none;
    }

    .flex {
        &:not(.inline) {
            width: 100%;
        }

        > div:only-child {
            width: 100%;
        }
    }

    #page-content {
        & > .container {
            width: 100%;
        }
    }

    .grid-s-c,
    .grid-c-s {
        grid-template-columns: repeat(1, 100%);
    }

    .badge {
        padding: 0 0.3em;
    }
}

a.unstyled,
.a-unstyled {
    &,
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:active:hover {
        color: inherit !important;
        text-decoration: !important;
        /*font-style: inherit;
      background-color: transparent;
      font-size: inherit;
      font-variant: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-family: inherit;
      border-radius: inherit;
      border: inherit;
      outline: inherit;
      box-shadow: inherit;
      padding: inherit;
      vertical-align: inherit;*/
    }

    p,
    p:hover,
    h1,
    h1:hover,
    h2,
    h2:hover,
    h3,
    h3:hover,
    h4,
    h4:hover,
    h5,
    h5:hover,
    div {
        color: inherit;
        text-decoration: none;
    }
}

.sidebar-card {
}

// TODO: move this!
.ThreadMedia {
    cursor: pointer;

    &:first-child {
        margin-top: 0;
    }

    &:hover {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    margin-top: 10px;
}

.media {
    // todo: make standard media elem... that way we have less .flex and more fun
    &:hover {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.alert {
    background-color: rgba(38, 50, 56, 0.2);
    //border-radius: 5px;
    //@extend %corners;
    min-width: 100%;
    //box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;

    flex-direction: row;

    a.btn {
        margin-top: 10px;
    }

    .alert-icon {
        background-color: rgba(0, 0, 0, 0.2);
        max-width: 50px;
        min-height: 50px;
        padding: 10px;
        display: flex;
        align-items: center;
    }

    &.is-gold {
        background-color: rgba(230, 195, 0, 0.1);
        border-left: 4px solid rgba(230, 195, 0, 1);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        color: $c-text;

        .alert-icon {
            background-color: rgba(52, 152, 219, 0.1);
        }

        .alert-title .time {
            color: rgba(230, 195, 0, 1) !important;
        }
    }

    &.is-info {
        background-color: rgba(52, 152, 219, 0.1);
        border-left: 4px solid rgba(52, 152, 219, 1);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        color: rgba(52, 152, 219, 1);

        .alert-icon {
            background-color: rgba(52, 152, 219, 0.1);
        }

        .alert-title .time {
            color: rgba(52, 152, 219, 1) !important;
        }
    }

    &.is-danger {
        background-color: rgba(255, 56, 96, 0.1);
        border-left: 4px solid rgba(255, 56, 96, 1);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        color: rgba(255, 56, 96, 1);

        .alert-icon {
            background-color: rgba(255, 56, 96, 0.1);
        }

        .alert-title .time {
            color: rgba(255, 56, 96, 1) !important;
        }
    }

    &.success,
    &.is-success {
        background-color: rgba(35, 209, 96, 0.1);
        border-left: 4px solid rgba(35, 209, 96, 1);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        color: rgba(35, 209, 96, 1);

        .alert-icon {
            background-color: rgba(35, 209, 96, 0.1);
        }

        .alert-title .time {
            color: rgba(35, 209, 96, 1) !important;
        }
    }

    &.dev {
        background-color: rgba(54, 54, 54, 0.951);
    }

    &.warning,
    &.is-warning {
        background-color: rgba(255, 221, 87, 0.1);
        border-left: 4px solid rgba(255, 221, 87, 1);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        color: rgb(209, 181, 69);

        .alert-icon {
            background-color: rgba(255, 221, 87, 0.1);
        }

        .alert-title .time {
            color: rgba(255, 221, 87, 1) !important;
        }
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    .alert-title {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        .title-item {
            font-weight: bold;
            font-size: 14px;
        }

        .level {
            margin-bottom: 0;
        }

        .level-item {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .time {
            font-size: 14px;
        }

        &:last-child {
            border-radius: 5px !important;
        }
    }

    .alert-body {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: left;

        ul {
            padding-left: 0;
        }
    }
}

.help {
    margin-top: 0;
    font-size: 12px;

    &.help-link {
        cursor: help;
    }
}

.clickable {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .is-hidden-mobile {
        display: none !important;
    }
}

@media screen and (min-width: 769px), print {
    .is-hidden-tablet {
        display: none !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .is-hidden-tablet-only {
        display: none !important;
    }
}

@media screen and (max-width: 1023px) {
    .is-hidden-touch {
        display: none !important;
    }
}

@media screen and (min-width: 1024px) {
    .is-hidden-desktop {
        display: none !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .is-hidden-desktop-only {
        display: none !important;
    }
}

@media screen and (min-width: 1216px) {
    .is-hidden-widescreen {
        display: none !important;
    }
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
    .is-hidden-widescreen-only {
        display: none !important;
    }
}

@media screen and (min-width: 1408px) {
    .is-hidden-fullhd {
        display: none !important;
    }
}

strong.heading {
    @extend %uppercase;
}

.subtitle {
    margin-top: 0px !important;
    font-weight: normal;
    //margin-top: -;
}

.react-phone-number-input__icon {
    line-height: 0px;
}

.streak-avatar {
    position: relative;

    .streak {
        right: -1rem;
        font-weight: normal;
    }
}

a {
    cursor: pointer;
}

.has-text-danger {
    color: $c-danger;
}

.has-text-success {
    color: $c-brand;
}

.has-text-twitter {
    color: #38a1f3;

    svg {
        color: #38a1f3;
    }
}

.has-text-instagram {
    color: #833ab4;

    svg {
        color: #833ab4;
    }
}

.SidebarBlogCard {
    .card {
        flex-direction: column;
        .thumbnail {
            min-height: 115px;
            @extend %corners;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}

.blog-media {
    p {
        //color: white;
    }
    h4,
    h5 {
        margin-bottom: 10px;
        //color: white;

        &:hover {
            text-decoration: underline;
        }
    }

    .outbound {
        display: block;
        margin-top: 10px !important;
    }
}

.h-list.flex {
    &.spaced {
        justify-content: flex-start;

        div {
            flex-grow: 0;
            padding-top: 4px;
        }

        div:not(:first-of-type) {
            margin-left: 1rem;
        }
    }

    &.v-center {
        .FaceStack .img-avatar {
            margin-right: 0;
        }
    }
}

.w-full {
    width: 100%;
}

.mt-5 {
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-em {
    margin-bottom: 1em;
}

.std-media {
    margin-bottom: 20px;
    color: var(--c-text);

    &.clickable {
        cursor: pointer;
    }

    .icon {
        margin-right: 10px;

        figure,
        img {
            @extend %corners;
        }
    }

    .actions {
        margin-top: 5px;
    }

    &:last-of-type {
        margin-bottom: 0px;
    }
}

.has-text-normal {
    font-weight: normal;
}

.no-margin-last {
    .std-media {
        margin-bottom: 20px !important;
    }

    &:last-of-type {
        .std-media {
            margin-bottom: 0px !important;
        }
    }
}

form,
.form {
    width: 100%;
    .control {
        margin-bottom: 20px;

        label {
            display: block;
            font-weight: bold;
            color: var(--c-title);
            margin-bottom: 8px;

            p.help {
                font-weight: normal;
                padding-bottom: 4px;
            }
        }

        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}

.dropzone {
    @extend %corners;
    padding: 10px;
    background: var(--c-bg-light);
    color: var(--c-gray);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;

    &.product-icon {
        min-height: 48px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.hashtag-list {
    margin-bottom: 5px;
    margin-top: 5px;

    .tag {
        font-size: 14px;
    }
}

.delete {
    @extend %round;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: var(--c-border);
    border: 0;
    cursor: pointer;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 20px;

    &.ml {
        margin-left: 5px;
    }

    &::before {
        height: 2px;
        width: 50%;
    }

    &::after {
        height: 50%;
        width: 2px;
    }

    &::after,
    &::before {
        content: "";
        background: var(--c-lightest);
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
}

ul.unstyled {
    li {
        list-style-type: none;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.ThreadTypeSelect {
    border: 1px solid var(--c-border);
    padding: 10px;
    cursor: pointer;

    &.is-selected {
        font-weight: bold;
    }
}

.ThreadMediaLine {
    h4 {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: -10000px 0;
    }
}

.ErrorPage {
    background: url(/img/fun/nyan-bg.png), #014479;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    /*adjust s value for speed*/
    animation: animatedBackground 50s linear infinite;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    padding-bottom: $navbar-height;

    h1 {
        font-weight: 800;
        font-size: 48px;
        line-height: 77px;
        color: var(--c-lightest);
    }

    .subtitle {
        color: var(--c-lightest);
    }

    .nyan {
        position: fixed;
        left: 0;
        bottom: 20%;
        height: 40px;
    }
}

.TodayPage {
    .card {
        border: 1px solid var(--c-border);
    }
    .today-input {
        padding: 1rem;
        //background: var(--c-bg);
        border-bottom: 1px solid var(--c-border);
    }
}

.cursor-pointer {
    cursor: pointer;
}

.upload-hover-state {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.new-dot {
    height: 8px;
    width: 8px;
    background-color: $c-main;
    border-radius: 50%;
    display: inline-block;
    margin-left: 8px;
    position: absolute;
    top: 35%;
    left: 50%;
}

ul {
    padding-inline-start: 0px;

    li {
        list-style-position: inside;
    }

    &.unstyled {
        list-style-type: none;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    &.mb li {
        margin-bottom: 5px;
    }
}

.full-quickview-body {
    background: var(--c-lightest);
    flex-grow: 1;

    padding: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.no-margin {
    margin: 0px 0px 0px 0px !important;
}

.align-end {
    align-items: flex-end;
}

select {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    color: var(--c-text);
    line-height: 1.3;
    padding: 0.5rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid var(--c-bg-input);
    border-bottom: 1px solid var(--c-border);
    border-radius: 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #eff1f5;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='293' height='293' viewBox='0 0 293 293' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M287 69.3998C285.321 67.6536 283.3 66.2727 281.063 65.3435C278.826 64.4144 276.422 63.9569 274 63.9998H18.4C13.4 63.9998 9.10001 65.7998 5.50001 69.3998C3.7604 71.0468 2.37532 73.0315 1.42959 75.2325C0.483862 77.4334 -0.00259544 79.8043 1.0414e-05 82.1998C1.0414e-05 87.1998 1.80001 91.4998 5.40001 95.0998L133.4 223C137 226.6 141.2 228.4 146.2 228.4C151.2 228.4 155.4 226.6 159 223L287 94.9998C290.5 91.4998 292.4 87.1998 292.4 82.1998C292.4 77.1998 290.5 72.9998 286.9 69.3998H287Z' fill='%23565656'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='292.4' height='292.4' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
}
select::-ms-expand {
    display: none;
}
select:hover {
    border-color: var(--c-border-light);
}
select:focus {
    border-color: $c-main;
    box-shadow: $input-drop-shadow;
    outline: none;
}
select option {
    font-weight: normal;
}

.flex-mobile {
    flex-flow: row wrap;
}
