@import "../../../../styles/_variables";

.UserMedia {
    @extend %corners;
    box-shadow: none;
    border-top: none;
    padding-top: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    color: $c-gray;

    .name {
        font-weight: bold;
        color: var(--c-text);
    }

    &.grid-streamcard {
        display: inline-grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 1fr auto;
        grid-column-gap: 1rem;

        > div:first-of-type {
            grid-column: 1 / span 1;
            grid-row: 1 / 3;
        }

        > div:nth-of-type(2) {
            grid-column: 2 / span 1;
            grid-row: 1 / 2;
        }

        .stats-case {
            font-size: 0.75rem;
            grid-column: 2 / span 1;
            grid-row: 2 / 3;

            .emoji:nth-child(2),
            .emoji:nth-child(3) {
                //margin-left: 1rem;
            }
        }
    }

    .Badge .emoji {
        margin-right: 3px;
    }

    .is-avatar-badge.badge.is-badge-small[data-badge]::after {
        padding: 0;
        font-size: 13px;
        font-weight: bold;
        min-height: 0.75rem;
        min-width: 0.75rem;
        letter-spacing: -1px;
    }
}
